<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="dark" href="#" cursor="pointer"
          ><ion-icon name="chevron-back"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-card-title class="meTitle"> {{ me?.info?.name }} </ion-card-title>
    </ion-col>
    <ion-col size="6" class="ion-text-center ion-padding-top">
      <ion-button
        routerLink="/tab3"
        color="dark"
        href="#"
        cursor="pointer"
        shape="round"
      >
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="timeline-section">
    <div class="timeline-items">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-title">Contacts</div>
        <div class="timeline-content">
          <h3>Phone Number</h3>
          <p>913380945</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Email</h3>
          <p>andre.maia@ipvc.pt</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-title">Languages</div>
        <div class="timeline-content">
          <h3>Portuguese | English</h3>
          <p>Native | Good</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-title">Education</div>
        <div class="timeline-content">
          <h3>Escola Secundária de Rocha Peixoto</h3>
          <p>2018-2021</p>
          <p>IT Management Course | Grade</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Escola Superior de Tecnologia e Gestão</h3>
          <p>2021-2023</p>
          <p>Web Development and Multimedia</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-title">Experience</div>
        <div class="timeline-content">
          <h3>1Elemento-Programação Informática,Lda</h3>
          <p>6 Months | 2020-2021</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-title">Skills</div>
        <div class="timeline-content">
          <p>
            <ion-icon size="large" name="logo-react"></ion-icon
            ><ion-icon size="large" name="logo-html5"></ion-icon
            ><ion-icon size="large" name="logo-css3"></ion-icon
            ><ion-icon size="large" name="logo-javascript"></ion-icon
            ><ion-icon size="large" name="logo-figma"></ion-icon
            ><ion-icon size="large" name="logo-angular"></ion-icon>
          </p>
          <p>
            React, Html, Css, Java, C#, Javascript, Figma, Photoshop,
            Illustrator, Angular .
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-row>
    <ion-col size="6" class="ion-text-center"
      ><ion-card
        ><ion-card-content
          ><ion-button
            class="snakecss"
            expand="block"
            color="light"
            cursor="pointer"
            (click)="setOpen(true)"
            >SnakeGame</ion-button
          >
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>SnakeGame</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <p>Projeto1</p>
              </ion-content>
            </ng-template>
          </ion-modal></ion-card-content
        ></ion-card
      ></ion-col
    >
    <ion-col size="6" class="ion-text-center"
      ><ion-card><ion-card-content>Watch</ion-card-content></ion-card></ion-col
    >
  </ion-row>
  <ion-row>
    <ion-col size="6" class="ion-text-center"
      ><ion-card
        ><ion-card-content>Projetos3</ion-card-content></ion-card
      ></ion-col
    >
    <ion-col size="6" class="ion-text-center"
      ><ion-card
        ><ion-card-content>Projetos4</ion-card-content></ion-card
      ></ion-col
    >
  </ion-row>
</ion-content>
