ion-img::part(image) {
  max-height: 60vh !important;
  margin: 0px !important;
}

.cardcss {
  margin: 0;
}

.infobtn {
  width: 340px;
  margin-top: 30px;
  //background-color: #1694a2;
  border-radius: 10px;
}

.info-mebtn {
  width: 30px;
  height: 30px;
  background-color: #1694a2;
}

.avatar-me {
  position: absolute;
  top: 470px;
  left: 65vw;
  width: 70px !important;
  height: 70px !important;
}

ion-col > ion-button {
  width: 70px;
  height: 70px;
}

.translate-btns {
  width: 130px;
  position: absolute;
  left: 70%;
}

.btn-translate {
  font-weight: bold;
  text-decoration: underline;
}

.locationicon,
.developericon {
  font-size: 20px;
}

ion-avatar img {
  background-image: contain;
}

ion-toggle {
  position: absolute;
  top: 33rem;
  left: 19rem;
}

ion-card-header {
  display: flex;
}

ion-card-header ion-icon {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}
