<ion-content [fullscreen]="true">
  <ion-card class="cardcss">
    <div class="translate-btns">
      <ion-button
        fill="clear"
        color="dark"
        type="small"
        class="btn-translate"
        (click)="changeLanguage('en')"
        >{{'EN'|translate}}</ion-button
      >
      <ion-button
        fill="clear"
        color="dark"
        type="small"
        class="btn-translate"
        (click)="changeLanguage('pt')"
        >{{'PT'|translate}}</ion-button
      >
    </div>
    <ion-img
      alt="André Maia"
      class="img"
      src="../../assets/images/IMG_5148.jpg"
    ></ion-img>
    <ion-card-header>
      <ion-card-title> {{ me?.info?.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-horizontal">
      <ion-card-subtitle class="ion-border"
        ><ion-icon class="developericon" name="desktop"></ion-icon
        >&nbsp;&nbsp;&nbsp; {{ 'webDeveloper' | translate }}</ion-card-subtitle
      >
      <ion-card-subtitle>
        <ion-icon class="locationicon" name="location"></ion-icon
        >&nbsp;&nbsp;&nbsp; {{ me?.info?.address }}</ion-card-subtitle
      >
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col size="4" class="ion-text-left">
          <ion-button
            color="dark"
            size="large"
            cursor="pointer"
            href="https://github.com/AndreMaia95"
            target="_blank"
            ><ion-icon name="logo-github"></ion-icon
          ></ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button
            color="dark"
            size="large"
            cursor="pointer"
            href="https://twitter.com/AMaia098"
            target="_blank"
            ><ion-icon name="logo-twitter"></ion-icon
          ></ion-button>
        </ion-col>

        <ion-col size="4" class="ion-text-right">
          <ion-button
            color="dark"
            size="large"
            cursor="pointer"
            href="https://www.linkedin.com/in/andr%C3%A9-maia-3b2b84221/"
            target="_blank"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-row>
      <ion-button
        routerLink="/tab2"
        size="large"
        expand="block"
        color="dark"
        class="infobtn"
        href="#"
        >{{ 'moreInformation' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-toggle color="medium" [enableOnOffLabels]="true"></ion-toggle>
</ion-content>
