ion-img::part(image) {
  max-height: 60vh !important;
  margin: 0px !important;
}

.cardcss {
  margin: 0;
}

.infobtn {
  margin-top: 30px;
}

.avatar-me {
  position: absolute;
  top: 470px;
  left: 65vw;
  width: 70px !important;
  height: 70px !important;
}

ion-col > ion-button {
  width: 70px;
  height: 70px;
}
