<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button
          (click)="goBack()"
          color="dark"
          routerLink="/tab2"
          cursor="pointer"
          ><ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text
        ><h1 class="messageSize">
          <b>{{ 'contactMe' | translate }}</b>
        </h1></ion-text
      >
    </ion-col>
  </ion-row>
  <ion-card-content>
    <ion-item class="ion-margin-bottom">
      <ion-label class="mylabel" position="stacked"
        ><b>{{ 'name' | translate }}</b></ion-label
      >
      <ion-input placeholder="{{ 'yourName' | translate }}"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-label class="mylabel" position="stacked"><b>Email:</b></ion-label>
      <ion-input placeholder="{{ 'yourEmail' | translate }}"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-label class="mylabel" position="stacked"
        ><b>{{ 'message' | translate }}</b></ion-label
      >
      <ion-textarea
        rows="5"
        placeholder="{{ 'yourMessage' | translate }}"
        [clearOnEdit]="true"
      ></ion-textarea>
    </ion-item>
  </ion-card-content>
  <ion-card-content class="ion-text-center"
    ><ion-row
      ><ion-col
        ><ion-button
          size="large"
          expand="block"
          color="green"
          class="infobtn"
          cursor="pointer"
          (click)="setOpen(true)"
          >{{ 'sendMessage' | translate }}</ion-button
        >
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)"
                    >{{ 'close' | translate }}</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div class="messageTitle">
                <ion-text
                  class="ion-margin-top ion-margin-bottom ion-text-center"
                  ><h1 class="messageSize">
                    <b>{{ 'messageSent' | translate }}</b>
                  </h1></ion-text
                >
              </div>
              <div class="checkmarkicon">
                <ion-icon
                  color="green"
                  name="checkmark-circle-outline"
                ></ion-icon>
              </div>
              <div class="backbtn">
                <ion-button
                  (click)="setOpen(false)"
                  size="large"
                  expand="block"
                  color="green"
                  class="backbtn"
                  >{{ 'back' | translate }}
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col></ion-row
    ></ion-card-content
  >
  <div class="devidercss"></div>
  <ion-card-content class="ion-text-center">
    <ion-row>
      <ion-col size="4" class="ion-text-left">
        <ion-button
          color="dark"
          size="large"
          cursor="pointer"
          href="https://github.com/AndreMaia95"
          target="_blank"
          ><ion-icon name="logo-github"></ion-icon
        ></ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button
          color="dark"
          size="large"
          cursor="pointer"
          href="https://twitter.com/AMaia098"
          target="_blank"
          ><ion-icon name="logo-twitter"></ion-icon
        ></ion-button>
      </ion-col>

      <ion-col size="4" class="ion-text-right">
        <ion-button
          color="dark"
          size="large"
          cursor="pointer"
          href="https://www.linkedin.com/in/andr%C3%A9-maia-3b2b84221/"
          target="_blank"
          ><ion-icon name="logo-linkedin"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>
